<nav class="navbar">
  <div class="nav-logo">
    <img src="gallery.png" alt="Logo" class="logo-img" width="24" height="24"> <span>Galería</span>
  </div>
  <div class="nav-user">
    <button class="btn-add" (click)="toggleFormulario()" [title]="mostrarFormulario ? 'Cerrar' : 'Añadir Foto'">
      <fa-icon [icon]="mostrarFormulario ? iconClose : iconPlus"></fa-icon>
    </button>
  </div>
  <header class="header">
    <div class="likes-badge">
      <span>Total de Likes: </span>
      <strong>{{ galeriaService.totalLikes }}</strong>
    </div>
  </header>
</nav>

<div class="main-container">

  <section class="form-section" *ngIf="mostrarFormulario">
    <app-formulario></app-formulario>
  </section>

  <hr class="divider">

  <section class="gallery-section">
    <h2>Explorar Fotos</h2>

    <div *ngIf="galeriaService.fotos.length === 0" class="empty-state">
      <p>No hay fotos en la colección. ¡Usa el formulario de arriba para añadir una!</p>
    </div>

    <div class="galeria-grid">
      <app-foto-card *ngFor="let f of galeriaService.fotos" [foto]="f">
      </app-foto-card>
    </div>
  </section>

</div>